<div class="row justify-content-center">
  <h1>Rate and review your stay</h1>
</div>

<div class="m-5">
  <%= simple_form_for [@place, @review] do |f| %>
    <%= f.input :place_rating, "How would you rate this place?", collection: 0..5 %>
    <%= f.input :user_rating, "What about your host?", collection: 0..5 %>
    <%= f.input :comments, "Any comments?" %>
    <%= f.button :submit, "Submit review", class: "btn btn-primary btn-sm m-2" %>
  <% end %>
</div>
