<div class="container">
  <div class="page-title">
    <br><h1>New Place</h1><br>
  </div>

  <div class="single-card">
    <%= simple_form_for [@user, @place] do |f| %>
      <%= f.input :name, label: 'Place Name' %>
      <%= f.input :location, label: 'Place Location' %>
      <%= f.input :location_type, label: 'Location Type' %>
      <%= f.input :price_per_day, label: 'Price per Day' %>
      <%= f.input :image, as: :file %>
      <%= f.submit 'Add', class: 'btn btn-dark btn-lg btn-block' %>
    <% end %>
  </div>
</div>
